<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is detail of Instagram User </h2>
            <h3> Username : @<%= post.username %></h3>
            <h4> <span>User's id </span>:<%= post.id %></h4>
            <h4> <span>Posts: </span> <%= post.posts %></h4>
            <h4> <span>Following: </span> <%= post.following %> </h4>
            <h4><span>Followers: </span> <%= post.followers %> </h4>
            <h4><span>About: </span> <%= post.about %> </h4>
       
</body>
</html>